/* header 开始 */
#top {
    background: #ffc6d9;
    text-align: center;
    height: 80px;
}

#login-info {
    float: left;
}

#header {
    height: 35px;
    background: #f2f2f2;
    line-height: 35px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
}

#quick-menu > li {
    padding: 0 13px;
    cursor: pointer;
    position: relative;

}

#login-info > a {
    padding: 0 15px;
}

#quick-menu .use-triangle{
    border: 1px transparent;
}

#quick-menu .use-triangle:hover{
    background: #ffffff;
    border-color: transparent #cccccc transparent #cccccc;
}

#quick-menu {
    float: right;
}

#quick-menu li {
    float: left;
}

#header a, #login-info span {
    font-size: 12px;
    color: #b0b2b3;
}

#quick-menu li:hover>a{
    color: #ff0000;
}

#header a:hover {
    color: #f00;
}

#quick-menu .split {
    width: 1px;
    height: 14px;
    margin: 9px 0 0 14px;
    background: #b0b2b3;
    padding: 0;
}

#quick-menu li i {
    color: #ff00ff;
}

#second-menu{
    position: absolute;
    top: 100%;
    left: 0;
}

#second-menu li {
    float: none;
    display:none;
    background: #f0f;
    width: 102px;
}


#quick-menu > li:hover #second-menu li {
    display: block;
}


#quick-menu .use-triangle::after{
    content: '';
    border: 3px;
    border-style: solid;
    border-color: #f0f transparent transparent transparent;
    width: 0;
    position: absolute;
    top: 50%;
    margin-top: -1.5px;
    right: 5px;
}

#quick-menu .use-triangle:hover::after{
    transform: rotate(180deg);
    transform-origin: 3px 1.5px;
    transition: transform .5s ease;
}

#square{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

#quick-menu li:hover li{
    display: block;
}

 #square1{
     background: #000;
     width: 100px;
     height: 110px;
     position: relative;
 }

#square2{
    background: #000;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    transform: rotate(45deg);
}

#square3{
    background: #0acaf0;
    width: 70px;
    height: 70px;
    font-size: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top: -35px;
}

#quick-menu .use-triangle .merchant {
    position: absolute;
    top: 100%;
    right: 0;
    width: 110px;
    background: #ff00bb;
    cursor: auto;
    display: none;

}

#quick-menu li:hover .merchant{
    display: block;
}

#quick-menu .merchant div a,h3{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
#quick-menu .merchant> div a{
    display:block;

}
#quick-menu div{
    float: left;
}

#quick-menu .merchant-list2{
    margin-left: 30px;
}

#quick-menu .cut{
    border-color: #b0b2b3 transparent transparent transparent;
    border-style: dashed;
    width: 100px;
    clear: none;
}
/* header 结束 */

/* logo-search 开始 */

/* logo-search 开始 */

