#top {
    background: #ffc6d9;
    text-align: center;
    height: 80px;
}

#login-info {
    float: left;
}

#header {
    height: 23px;
    background: #f2f2f2;
    line-height: 23px;
}

#quick-menu > li {
    margin-left: 13px;
}

#login-info > a {
    margin-left: 13px;
}

#quick-menu {
    float: right;
}

#quick-menu li {
    float: left;
}

#header a, #login-info span {
    font-size: 12px;
    color: #b0b2b3;
}

#header a:hover {
    color: #f00;
}

#split {
    width: 1px;
    height: 14px;
    margin-top: 5px;
    background: #b0b2b3;
}

#quick-menu li i {
    color: #ff00ff;
}

#second-menu{
    position: absolute;
    top: 100px;
}

#second-menu li {
    float: none;
    display:none;
    background: #f2f2f2;
}

#quick-menu > li:hover #second-menu li {
    display: block;
}

#triangle{
    border: 5px;
    border-style: solid;
    border-top-color:transparent ;
    border-bottom-color: #f0f;
    border-left-color: transparent;
    border-right-color: transparent;
    width: 0;
    position: absolute;
    top: 85px;
    left:960px;
}


