<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <form action="/reg" method="post">
      用户名:<input type="text" name="uname" id="u1" /><br />
      密码:<input type="password" name="pass" /><br />
      <input type="submit" name="sub" value="注册" />
    </form>

    <script src="javascripts/jquery.min.js"></script>
    <script>
      $("#u1").blur(function() {
        var name = $(this).val();
        $.post(
          "/check",
          "uname=" + name,
          function(data) {
            //console.log(data);
            if (data == "success") {
              $("#u1").after("<span>用户名重名</span>");
            }
          },
          "text"
        );
      });
    </script>
  </body>
</html>
