<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      li {
        list-style: none;
      }
      #list {
        height: 100px;
      }
      #list p {
        float: left;
        line-height: 100px;
        margin-right: 50px;
      }
      #list button {
        line-height: 100px;
      }
      #menu span,
      #list input {
        margin-right: 50px;
      }
      .active {
        background-color: red;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="todolist">
      <div>
        <input type="text" v-model="seachText" />
        <input type="button" value="搜索" @click="seach" />
      </div>
      <div>
        <input type="text" v-model="addName" placeholder="名称" />
        <input type="number" v-model="addPrice" placeholder="价格" />
        <input type="button" value="添加" @click="add" />
      </div>
      <table>
        <thead>
          <tr>
            <th>选择</th>
            <th>商品名称</th>
            <th>商品价格</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(item,index) in obj"
            :class="{active:item.isSel}"
            @click="item.isSel=!item.isSel"
          >
            <td><input type="checkbox" :value="item.id" /></td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>
              <input type="button" @click="del(item.id,$event)" value="删除" />
            </td>
          </tr>
          <tr>
            <td colspan="3">{{ sum }}</td>
            <td><button @click="choseDel">选中删除</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <script>
      let vm = new Vue({
        el: "#todolist",
        price: 0,
        name: "",
        nowId:"5",
        data: {
          obj: [
            { id: 1, name: "衣服1", price: 1, isSel: false },
            { id: 2, name: "衣服2", price: 12, isSel: false },
            { id: 3, name: "衣服3", price: 123, isSel: false },
            { id: 4, name: "衣服4", price: 1234, isSel: false },
            { id: 5, name: "衣服5", price: 12345, isSel: false }
          ]
        },
        methods: {
          del(id) {
            let newArry = [];
            this.obj.forEach(function(val) {
              if (val.id != id) {
                newArry.push(val);
              }
              return newArry;
            });
            this.obj = newArry;
            console.log("1");
          },
          choseDel() {
            let newArry = [];
            this.obj.forEach(function(val) {
              if (!val.isSel) {
                newArry.push(val);
              }
              return newArry;
            });
            this.obj = newArry;
          },
          add(){
            id=++this.nowId;
            
          }
        },
        computed: {
          sum() {
            let sumNum = 0;
            this.obj.forEach(function(val) {
              if (val.isSel) {
                sumNum += val.price;
              }
            });
            return sumNum;
          }
        }
      });
    </script>
  </body>
</html>
